@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model learningwithos.Models.MovieList
<div>
    <h1>The movie description</h1>
    <h3>Movie Id:@Model.MovieId</h3>
    <h3>Movie name:@Model.Name</h3>
</div>
